@import "../../index.scss";

.roomsContentContainer {
	// border: 2px solid black;
	display: flex;
	justify-content: center;

	table {
		// border: 2px solid $primary;

		font-size: 1.2rem;

		max-width: 50%;
		width: 100%;

		tr {
			text-align: center;
			white-space: nowrap;
			height: 3rem;
		}

		tr :first-child {
			text-align: left;
			width: 100%;
		}

		tbody > tr {
			border-bottom: 1px solid $primary;
		}
	}
}
